.col-sm-4{
	padding:6% 2% 6% 2%;
	margin:2%;
	text-align:center;
	
	
}
h5{
	color: white;
	text-decoration:none;
}
.products{
	background-color:blue;
}
.list{
	background-color:green;
}
.new{
	background-color:red;
}